{% extends 'scolar/index.html' %}
{% load django_tables2 crispy_forms_tags icons bootstrap4 %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
<html lang="en" xmlns="http://www.w3.org/1999/html">
 <!-- Required meta tags -->
 <meta charset="utf-8">
 {% block content %}
 {% load djmoney %}

 <!-- <form id="demoForm" method="post"  action = "" class="post-form" enctype="multipart/form-data"> -->
 {% csrf_token %}
   	   <style>
 	   body {
  font: normal medium/1.4 serif;
}

table {
  border-collapse: collapse;
  background-color: #f2f2f2;
}
    </style>
	<div class="content-wrapper">
		<div class="row">
			<div class="col-md-12 grid-margin stretch-card" >
				<div class="card">
					<div class="card-body" >
						<h3>La liste des mandats de l'article : {{article.libelle_art_FR}} ( {{article.code_art}} )</h3>
						<br>
						<!-- <p class="lead font-italic">Allocation des crédits pour l'Exercice : Exercice :{{pexe}}</p> -->
						<hr class="my-4">
						
						<table class="table table-sm">
						    <tr>
						    <th>Num_Mandat</th>
						    <th>Date</th>
						    <th>Fournisseur</th>
						    <th>Engagement</th>
						    <th>Mettre à jour</th>
						    <th>Supprimer</th>
						    </tr>
						
						{% for mandat in mandats %}
						{% if article.code_art == mandat.article_mandat.code_art %}
						
						<tr>
						<td>{{mandat.num_mandat}}</td>
						<td>{{mandat.date}}</td>
						<td>{{mandat.fournisseur}}</td>
						<td>{{mandat.engagement}}</td>
						<td><a href= ''>Mettre à jour</a></td>   
						<td><a href= ''>Supprimer</a></td>  
						{% endif %}
						{% endfor %}
						</tr>
						
						
						</table>
					

</html>
{% endblock %}

<!-- "{% url 'mandat_delete' %}" -->