{% extends 'scolar/index.html' %}
{% load django_tables2 crispy_forms_tags icons bootstrap4 %}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{% block content %}
  	   <style>
 	   body {
  font: normal medium/1.4 serif;
}

table {
  border-collapse: collapse;
  background-color: #f2f2f2;
}
    </style>

<div class="content-wrapper">
		<div class="row">
			<div class="col-md-12 grid-margin stretch-card">
				<div class="card">
					<div class="card-body">
						<h3>Confirmation de la suppression </h3>
						<div class="row">
							<div class="col-md-6">
								<div class="card card-body">
									<p>Etes-vous sûr de vouloir supprimer cet element</p>
									<form  action="" method="post">
										{% csrf_token %}
											<div class="row">	
						         {% if delete == 1 %}
								<div class="col-md-2">			
								   		<a class="btn btn-warning" href="/scolar/ChapitreShow">Retour</a>
								</div>
								 
								 {% endif %}
								
								          {% if delete == 2 %}
								<div class="col-md-2">
							      	{% csrf_token %}
								   		<a class="btn btn-warning" href="/scolar/ArticleCreate/{{ chapitre }}/">Retour</a>	
								</div>
								
								 {% endif %}
								 
								 	 {% if delete == 3 %}
								<div class="col-md-2">
								
								   		<a class="btn btn-warning" href="/scolar/CreditCreate/{{pavc.id}}">Retour</a>

								</div>
								 {% endif %}
								 {% if delete == 4 %}
								<div class="col-md-2">
								
								   		<a class="btn btn-warning" href="/scolar/PieceCreate/{{ pi.id }}/">Retour</a>
								   
							
								</div>
										
								   {% endif %}
								   
								   		 {% if delete == 5 %}
								<div class="col-md-2">
								
								   		<a class="btn btn-warning" href="/scolar/ImmobilierShow">Retour</a>

								</div>
										
								   {% endif %}
								             {% if delete == 6 %}
								<div class="col-md-2">
							      	{% csrf_token %}
								   		<a class="btn btn-warning" href="/scolar/test/{{ article }}/">Retour</a>	
								</div>
								
								 {% endif %}
								 
								 	   {% if delete == 8 %}
								<div class="col-md-2">
								    {% csrf_token %}
								   		<a class="btn btn-warning" href="/scolar/Transfert_List">Retour</a>

								</div>
								{% endif %}
								 
								   
								   <div class="col">	

										<input class="btn btn-danger" type="submit"  value="OK"/>
									</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

{% endblock content %}