<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  {% load static %}
	  {% load djmoney %}
	  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	   <style>
table {
  		page-break-inside:auto;
 		font-family: Arial, Helvetica, sans-serif;
	}
	th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	td {
		page-break-before:avoid;
	}
	tr {
         page-break-inside:avoid;
    }

    </style>
  </head>
          
		  <table style="margin-top: 0; width: 100%;">
				  <tr>
				        <td style="margin-top: 0; width: 45%;border:none;" >
                          <img src ="{% static 'entete provision_2.PNG' %}" alt="entete" width= "700" height="150">					
                          <br><br>
                          <table width="100%">
                          <tr >
                          <td>
                          <p style="text-align:center;">Identification des Pieces</p>
                          </td>
                           <td>
                            <p style="text-align:center;">Montant</p>
                          </td>
                          
                          </tr>
                          
                             <tr >
                          <td style="border-bottom: none;">
                          <p>{{engagement_.observation}}</p>
                          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        
                          
                          </td>
                           <td style="vertical-align: top;">
                            <p style="text-align:right;">{{engagement_.credit_alloue.credit_allouee}}</p>
                          </td>
                          
                          </tr>
                          
                           <tr >
                          <td   style="border-top: none;">
                        
                        
                          <p style="text-align: right;">TOTAL......... </p>
                          
                          </td>
                           <td style="vertical-align: top;">
                            <p style="text-align:right;">{{engagement_.credit_alloue.credit_allouee}}</p>
                          </td>
                          
                          </tr>
                          
                                <tr >
                          <td   style="border: none;">
                        
                        
                          <p style="text-align: left;">Total en lettres:<br> {{engagement_letter}}  Dinars Algeriens</p>
     
                          </td>
                       
                          
                          </tr>
                          
                          </table>
					  </td>
			  <td style="margin-top: 0; width: 5%;vertical-align: top;border:none;" >  </td>
					  <td style="margin-top: 0; width: 45%;vertical-align: top;border:none;" >
						  <img src ="{% static 'entete provision.png' %}" alt="entete" width= "700" height="50" >
                       <p>Section 02</p>
 					   <p align="center"><b>ANNEXE N° 1</b></p>	  
				       <p><b>Code Ordonnateur</b></p>
				       <table  style="margin-left: auto; margin-right: auto; width: 60%; ">
						<tr style="height:50px;"> 
							<td style=" width: 50%;height:25;"><p style="text-align:center;"><b>BUDGET DE FONCTIONNEMENT</b></p></td>
						</tr>
						</table>  	  
						<table style="margin-top: 50px; width: 100%;">
						<thead>
						<tr style="height:50px;"> 
							<td colspan="2" style=" width: 30%;height:25;"><p style="text-align:center;">Identification de la fiche d'engagement</p></td>	
				        	<td style=" width: 40%;height:25;border-top: none;border-bottom: none;"></td>
							<td style=" width: 30%;height:25;text-align:center;"><p>Visa du controleur financier</p></td>
						</tr>
						</thead>
						<tbody>
					  <tr style="height:80px;"> 
					  
							<td style=" width: 15%;height:25;"><p>Annee&nbsp;&nbsp;&nbsp;&nbsp;{{engagement_.annee_budg}}</p></td>
							<td style=" width: 15%;height:25;"><p>N°&nbsp;&nbsp;&nbsp;&nbsp;{{engagement_.num}}</p></td>
							<td style=" width: 40%;height:25;border-top: none;border-bottom: none;vertical-align: bottom;"><br></td>
                           <td style=" width: 30%;height:25;"><p>N°&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DU</p></td>						
                      </tr>
                      </tbody>
						</table>  
						<br>
						
						<table  style="margin-left: auto; margin-right: auto; width: 60%; ">
						<tr style="height:50px;"> 
							<td style=" width: 50%;height:25;"><p style="text-align:center;"><b>FICHE D4ENGAGEMENT DE LA PROVISION (CREDIT/PROVISION)</b></p></td>
						</tr>
						</table>  
					
						  
						
						<pre>
						Objet : Depence
						      : Economie
						</pre>
						
						
					<table style="margin-top: 20px; width: 100%;">	
					  <tr style="height:40px;">
					        <td style=" width: 15%;height:25;text-align:center;"><p>COMPTABILITE</p></td> 
							<td style=" width: 10%;height:25;text-align:center;"><p>CHAP</p></td>
				        	<td style=" width: 10%;height:25;text-align:center;"><p>ART</p></td>
						    <td style=" width: 15%;height:25;text-align:center;"><p>ANCIEN SOLDE</p></td>
				        	<td style=" width: 15%;height:25;text-align:center;"><p>MONTANT DE LA PROVISION</p></td>
						    <td style=" width: 15%;height:25;text-align:center;"><p>NOUVEAU SOLDE</p></td>
						    <td style=" width: 40%;height:25;text-align:center;"><p>OBSERVATION DES SERVICES(1)</p></td>
						    
						</tr>
						
						<tr style="height:130px;"> 
						  	<td style=" width: 15%;height:25;text-align:center;"><p>Credit budgétaire</p></td> 
							<td style=" width: 10%;height:25;vertical-align: top;text-align:center;"><p>{{engagement_.credit_alloue.chapitre.code_chap}}</p></td>
				        	<td style=" width: 10%;height:25;vertical-align: top;text-align:center;"><p>{{engagement_.credit_alloue.article.code_art}}</p></td>
				        	<td style=" width: 15%;height:25;vertical-align: top;text-align:center;"><p>{{engagement_.credit_alloue.credit_allouee}}</p></td>
						    <td style=" width: 15%;height:25;vertical-align: top;text-align:center;"><p>{{engagement_.credit_alloue.credit_article_posteriori}}</p></td>
							<td style=" width: 15%;height:25;vertical-align: top;text-align:center;"><p>{{engagement_.credit_alloue.credit_article_posteriori}}</p></td>
							<td style=" width: 40%;height:25;vertical-align: top;text-align:center;"><p>*Dotation budgetaire initiale{{engagement_.credit_alloue.credit_allouee}}</p></td>
						
						</tr>
						
						<tr style="height:130px;"> 
						  	<td style=" width: 15%;height:25;text-align:center;"><p>Provision (50% CB)</p></td> 
							<td style=" width: 10%;height:25;vertical-align: top;text-align:center;"><p>{{engagement_.credit_alloue.chapitre.code_chap}}</p></td>
				        	<td style=" width: 10%;height:25;vertical-align: top;text-align:center;"><p>{{engagement_.credit_alloue.article.code_art}}</p></td>
				        	<td style=" width: 15%;height:25;vertical-align: top;text-align:center;"><p>0.00</p></td>
						    <td style=" width: 15%;height:25;vertical-align: top;text-align:center;"><p>{{engagement_.credit_alloue.credit_article_posteriori}}</p></td>
							<td style=" width: 15%;height:25;vertical-align: top;text-align:center;"><p>{{engagement_.credit_alloue.credit_article_posteriori}}</p></td>
							<td style=" width: 40%;height:25;vertical-align: top;text-align:center;"><p>*Le montant de la provision{{engagement_.credit_alloue.credit_article_posteriori}}</p></td>
						
						</tr>

						</table>  
						
						<div style="text-align:left;">
						<p>L'intitule: </p>
						<p>Chapitre:&nbsp;&nbsp;{{engagement_.credit_alloue.chapitre.code_chap}} </p>
						<p>Article: &nbsp;&nbsp;{{engagement_.credit_alloue.article.libelle_art_FR}}</p>
						<p><b>NB:*Dotation budgetaire initiale</b></p>
						</div>
						
						<table style="margin-top: 50px; width: 50%;">
						<tr style="height:150px;"> 
							<td style=" width: 30%;height:25;"><p style="text-align:center;">VISA DU CONTROLEUR FINANCIER</p></td>
						</tr>
						</table>  
						
						A................     Le...............
						
						
						  
						  
						  
						  
					  </td>
				  </tr>
			
		
				  
		  </table>
				 

</html>