{% extends 'scolar/base.html' %}
{% load static usergroup icons bootstrap4 %}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
{% block sidebar %}
	{% if user.is_authenticated %}
	 {% csrf_token %}
		{% if request.user|has_group:"top-management" %}

			<ul class="nav list-group">
				<li>
				<strong>DASHBOARD</strong>
				</li>
				<li>	
				  <a class="list-group-item" href="{% url 'ImmobilierShowFilter' %}">{% icon 'tasks' %} Rapprochement Inventaire physique & comptable</a>
				</li>
				<li class="list-group-item">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'comment-dollar' %} Dashboard Regie</a>
				  		<div class="dropdown-menu">		  
	{% for exercice in user.exercice_list %}
				  	 		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Exercice {{exercice.annee_budg}}</a></br>
		 	  			
			{% for avance in user.avance_list %}		
		     	{% if exercice.id == avance.exercice_id %}
		     	
		     	
		     	
		          	{% if avance.str_encours == 'OUI' %}
		     	<a class="dropdown-item border border-primary"  href="{% url 'AvanceChart' %}" style="border-radius:20px 14px;">Avance {{ avance.code_avance }} En cours</a>	
			
								
				{% endif %}			
	
				{% endif %}			
			{% endfor %}
								
			{% endfor %}	
					
					</div>	
				</li>
 
   			</ul>
		{% endif %}

		{% if request.user|has_group:"regisseur" %}
			<ul class="nav list-group">
				<li>
				<strong>REGISSEUR</strong>
				
				<li>
					{% for avance in user.avance_list %}		
		          	{% if avance.str_encours == 'OUI' %}
		          	   <h7>Vous travaillez sur l'Avance: {{avance.code_avance}}/Exercice: {{avance.exercice.annee_budg}}</h7>
		          	{% endif%}
		          	{% endfor %}
		          </li>

				<li class="list-group-item">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'tasks' %} Nomenclatures</a>
				  <div class="dropdown-menu">	
				    <a class="dropdown-item" href="{% url 'ExerciceShow' %}">{% icon 'book' %} Exercices & Avances</a>		  
				  	<a class="dropdown-item" href="{% url 'ChapitreShow' %}">{% icon 'book' %} Chapitres</a>											  	
				  </div>	
				</li>
					<li class="list-group-item">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'briefcase' %} Allocation des credits</a>
				  		<div class="dropdown-menu">		  
	{% for exercice in user.exercice_list %}
				  	 		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Exercice {{exercice.annee_budg}}</a></br>
		 	  			
			{% for avance in user.avance_list %}		
		     	{% if exercice.id == avance.exercice_id %}
		     	{% if avance.str_encours == 'OUI' %}
		     	<a class="dropdown-item"  href="{% url 'CreditCreate'  avance.id%}" style="background-color:#29F057; border-radius:20px 14px; ">Avance {{ avance.code_avance }} En cours</a>	
		     	{% else %}	
								<a class="dropdown-item"  href="{% url 'CreditCreate'  avance.id%}">Avance {{ avance.code_avance }}</a>	
				{% endif %}		
				{% endif %}		
			{% endfor %}
								
			{% endfor %}	
					
					</div>	
				</li>
				
				
				<li class="list-group-item">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'comment-dollar' %} Imputations</a>
				  		<div class="dropdown-menu">		  
	{% for exercice in user.exercice_list %}
				  	 		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Exercice {{exercice.annee_budg}}</a></br>
		 	  			
			{% for avance in user.avance_list %}		
		     	{% if exercice.id == avance.exercice_id %}
		     	
		     	
		     	
		          	{% if avance.str_encours == 'OUI' %}
		     	<a class="dropdown-item"  href="{% url 'LitImput' avance.id %}" style="background-color:#29F057; border-radius:20px 14px;">Avance {{ avance.code_avance }} En cours</a>	
		     	{% else %}	
								<a class="dropdown-item"  href="{% url 'LitImput' avance.id %}">Avance {{ avance.code_avance }}</a>	
				{% endif %}			
	
				{% endif %}			
			{% endfor %}
								
			{% endfor %}	
					
					</div>	
				</li>
				
				
						<li class="list-group-item">
				  	<a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'comment-dollar' %} Situation depences</a>
				  		<div class="dropdown-menu">		  
	{% for exercice in user.exercice_list %}
				  	 		<a class="dropdown-item"    href="{% url 'LitImput_for_exercice' exercice.id %}">Exercice {{exercice.annee_budg}}</a></br>
		 	  			

								
			{% endfor %}	
					
					</div>	
				</li>		
				
				
				
				

		{% endif %}
				{% if request.user|has_group:"Inventaire" %}
			<ul class="nav list-group">
				<li>
				<strong>GESTION DE L'INVENTAIRE</strong>
				</li>
				<li class="list-group-item">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'tasks' %} Actions</a>
				  <div class="dropdown-menu">
				  	<a class="dropdown-item" href="{% url 'ImmobilierShow' %}">{% icon 'book' %} Immobilier</a>
				  </div>
				</li>
				
				<li class="list-group-item">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'tasks' %} Administration</a>
				  <div class="dropdown-menu">
				  	<a class="dropdown-item" href="{% url 'ImmobilierShowFilter' %}">{% icon 'book' %} Dashboard</a>
				  </div>
				</li>
				
   			</ul>
		{% endif %}
		
		{% if request.user|has_group:"budget" %}
			<ul class="nav list-group">
			<li>
			<strong>CHAPITRES ET ARTICLES</strong>
			</li>
			<li>
			 <a class="list-group-item" href="{% url 'chapitres_list' %}">{% icon 'tasks' %} Chapitres</a>
			</li>
			<li>
			 <a class="list-group-item" href="{% url 'articles_list' %}">{% icon 'tasks' %} Articles</a>
			</li>
			<li>
			<strong>Engagement</strong>
			</li>
			<li class="list-group-item">
				  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% icon 'tasks' %} Engagement</a>
				  <div class="dropdown-menu">	
				    <a class="dropdown-item" href="{% url 'engagement_S2_list' %}">{% icon 'book' %} Liste Natures Engagements</a>		  
				 	<a class="dropdown-item" href="{% url 'Prise_en_charge_list' %}">{% icon 'book' %} Liste des Prises en charge et engagement de provision</a>		  
				 	<a class="dropdown-item" href="{% url 'Depence_List' %}">{% icon 'book' %} Liste des Depences </a>	
				 	<a class="dropdown-item" href="{% url 'Fiches_regularisation_provision_List' %}">{% icon 'book' %} Liste des Fiches de regularisation et de la provision </a>	  
				 
				  </div>	
				</li>
			 
			 <li>
			 <a  class="list-group-item" href="{% url 'mandatlist' %}">{% icon 'tasks' %} Mondat</a>
			</li>    
			<li>
			 <a  class="list-group-item" href="{% url 'Transfert_List' %}">{% icon 'tasks' %} Transfert</a>
			</li>  
			<li>
			<strong>Fournisseurs et Banques</strong>
			</li>
			<li>
			 <a  class="list-group-item" href="{% url 'fournisseurs_list' %}">{% icon 'tasks' %} Liste fournisseurs</a>
			</li>  
			<li>
			 <a  class="list-group-item" href="{% url 'banque_list' %}">{% icon 'tasks' %} Liste banques</a>
			</li>    
			<li>
			<strong>Repartition des credits</strong>
			</li>
			<li>
			 <a  class="list-group-item" href="{% url 'exercice_list' %}">{% icon 'tasks' %} Liste exercices</a>
			</li>  
			<li>
			<strong>Factures</strong>
			</li>
			<li>
			 <a  class="list-group-item" href="{% url 'factures_list' %}">{% icon 'tasks' %} Liste factures</a>
			</li>  <li>
			 <a  class="list-group-item" href="{% url 'typesfactures_list' %}">{% icon 'tasks' %} Types facture</a>
			</li> 
			<!-- <li>
			{% for exercice in user.exercice_list %}
		 	  	<a class="list-group-item"  href="{% url 'CreditCreate_S2'  exercice.id %}"  ">{% icon 'comment-dollar' %} Exercice {{exercice.annee_budg}}</a>	
	        {% endfor %}					  
			</li>   -->
			 
			</ul>
			{% endif %}
		
		
		
	
	
	{% else %}
		<ul class="nav list-group">
			<li>
			<strong>VISITEUR</strong>
			</li>


		</ul>

	{% endif %}
	<br><br>
{% endblock %}
	
{% block content %}
	<div align="center">
		<h3></h3>
		<img src="{{ institution.illustration_cursus.url }}" alt="Les achats a l'ESI" width="60%" >
	</div>

{% endblock %}