
<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  {% load static %}
	  {% load djmoney %}
	  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	   <style>
table {
  		page-break-inside:auto;
 		font-family: Arial, Helvetica, sans-serif;
	}
	th, td {
	  border: 1px solid black;
	  border-collapse: collapse;
	}
	td {
		page-break-before:avoid;
	}
	tr {
         page-break-inside:avoid;
    }

    </style>
  </head>

		  <table style="margin-top: 0; width: 100%;">
				  <tr>
				        <td style="margin-top: 0; width: 45%;border:none;" >
                          <!-- <img src ="{% static 'eng.PNG' %}" alt="entete" width= "700" height="150" > -->
                          <!-- <br><br> -->
                          <table width="100%">
                          <tr >
                          <td>
                          <p style="text-align:center;">DETAILS VENTILATION</p>
                          </td>
                           <td>
                            <p style="text-align:center;">MONTANTS</p>
                          </td>
                          
                          </tr>
                          
                             <tr >
                          <td style="border-bottom: none;">
                         <!--  <p>{{mandat_.engagement.montant_operation}}</p> -->
                          <br>
                          <p>{{mandat_.engagement.observation}}</p>
                          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                     
                          
                          </td>
                           <td style="vertical-align: top;">
                            <p style="text-align:right;">{{mandat_.engagement.montant_operation}}</p>
                          </td>
                          
                          </tr>
                          
                           <tr >
                          <td   style="border-top: none;">
                        
                        
                          <p style="text-align: right;">TOTAL......... </p>
                          
                          </td>
                           <td style="vertical-align: top;">
                            <p style="text-align:right;">{{mandat_.engagement.montant_operation}}</p>
                          </td>
                          
                          </tr>
                        </table>
					  </td>
			  <td style="margin-top: 0; width: 5%;vertical-align: top;border:none;" >  </td>
					  <td style="margin-top: 0; width: 45%;height:5;vertical-align: top;border:none;" >
						  <img src ="{% static 'entete doc budget.png' %}" alt="entete" width= "700" height="150" >
						  <P>SECTION 02</P>
						<table style="margin-top: 50px; width: 100%;">
												
						<tr style="height:30px;"> 
							
				        	<th colspan="2" style=" width: 80%;height:40;border-top: none;border-left: none;border-bottom: none;border-right: none;text-align:center;">MANDAT DE PAIEMENT</th>
				        	<td style=" width: 30%;height:15;text-align:left;"><p>PIECE N°:................</p></td> 

						</tr>
						
					  <tr style="height:40px;"> 
							
				        	<td colspan="2" style=" width: 40%;height:15;border-top: none;border-left: none;vertical-align: bottom;border-bottom: none;border-right: none;text-align:center;"><br><p>BUDGET-Année  {{mandat.engagement.annee_budg}}</p></td>
						    <td style="text-align:center;">{{mandat_.num_mandat}}</td>
					  </tr>
						
						<tr style="height:20px;">
						<td style="border-right: none;text-align:center;">
                          <p style="text-align:left;">Service Emetteur: !!!!!!</p><p style="text-align:LEFT;">N° au registre des O.P: !!!!!!!</p>
                        </td>
                         
                        <td colspan="2" style="border-left: none;text-align:center;">
                            <p style="text-align:LEFT;">Compte Bénéficiaire: {{mandat_.fournisseur.code_fournisseur}}??????</p><p style="text-align:LEFT;">Libellé du Compte :{{mandat_.fournisseur.nom_fournisseur}} ???????</p>
                        </td>
						</tr>
						
						
						<tr style="height:20px;">
						<td style="border-right: none;text-align:center;height:25;">
                          <p style="text-align:left;">Montant en Lettres</p><p style="text-align:LEFT;">{{mandat_letter}}   Dinards Algeriens</p>
                        </td>
                         
                        <td colspan="2" style="text-align:center;">
                            <p style="text-align:LEFT;">Date: {{mandat_.date}}</p><p style="text-align:LEFT;">Montant en chiffre : {{mandat_.engagement.montant_operation}}</p>
                        </td>
						</tr>
						
						<tr>
						<td>
                          <p style="text-align:center;">Bénéficiaire: </p>
                          </td>
                          <td>
                          <p style="text-align:center;">Objet du paiement</p>
                          </td>
                          <td>
                          <p style="text-align:center;">Observation</p>
                          </td>
                         </tr>
                          
                       <tr >
                          <td  style="border-bottom: none;">
                          <p>{{mandat_.fournisseur.nom_fournisseur}} ({{mandat_.fournisseur.code_fournisseur}})</p>
                          <br>
                         
                          <br><br><br><br><br><br><br><br>
                        
                          
                          </td>
                           <td  style="border-bottom: none;vertical-align: top;">
                            <p style="text-align:right;">{{mandat_.engagement.montant_operation}}</p>
                          </td>
                           <td style="vertical-align: top;border-bottom: none;">
                            <p style="text-align:left;">{{mandat_.engagement.observation}}</p>
                          </td>
						</tr>
						
					  <tr >
                          <td   style="border-top: none;">
                            <p style="text-align:left;">DOMICILIATION </p>
                          </td>
                          <td style="border-top: none;"></td>
                          <td style="border-top: none;"></td>
						
						<tr >
                          <td colspan="2">
                          <p style="text-align:left;">CREDITS ALLOUES: {{mandat_.engagement.credit_alloue.credit_allouee}}</p>
                          </td>
                           <td>
                            <p style="text-align:left;">CREDITS DISPONIBLES:</p>
                          </td>
                         
                        </tr>
                          
                          <tr>
						<td>
                          <p style="text-align:center;">VISA DU SERVICE EMETTEUR</p>
                          </td>
                          <td>
                          <p style="text-align:center;">SIGNATURE DE L'ORDONNATEUR</p>
                          </td>
                          <td>
                          <p style="text-align:center;">SIGNATURE DU COPMTABLE PAYEUR</p>
                          </td>
                         </tr>
                         
                         <tr>
                         <td style="height:80;"><br><br><br><br><br><br></td>
                         <td style="height:80;"><br><br><br><br><br><br></td>
                         <td style="height:80;"><br><br><br><br><br><br></td>
                         </tr>
                     
                         
                         <tr style="height:15px;">
                         <td colspan="3" style=" width: 30%;height:15;"><p style="text-align:center;">REFERENCES DU REGLEMENT</p><p style="text-align:LEFT;">Chèque CCP N°  :{{mandat_.fournisseur.num_cmpt_fournisseur}}_{{mandat_.fournisseur.cle_cmpt_fournisseur}}</p>
                         <p style="text-align:LEFT;">Trésore N°  :</p>
                         <p style="text-align:LEFT;">Ordre de virement N°  :</p>
                         <p style="text-align:LEFT;">Date  :</p>
                         </td> 
                         </tr>
				
						</table>  
						
						 
						<br>
					
						  
					  </td>
				  </tr>
				  
		  </table>
				 

</html>